
body{
    background-color: #021a2b;
    font-family: Verdana, Arial, sans-serif;
    color: whitesmoke;
}


.containerHistory{
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 30px;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background-color: #1260869e;
    width: 500px;
    display: inline-block;
    color: white;
}

a:link, a:visited {
    background-color:#1260869e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #1260869e;
}

.containerBoard {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.board {
    width: 306px;
    height: 306px;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.row {
    width: 306px;
    height: 102px;
    display: flex;
    font-size: 100px;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 80px;
    border: solid 1px white;
    border-radius: 8px;
    text-align:center;
    background-color: #1260869e;;
}