
body{
    background-color: #021a2b;
    font-family: Verdana, Arial, sans-serif;
    color: whitesmoke;
}

.container{
    margin: 0 auto;
    text-align: center;
}

#Win-div{
    color: red;
    font-size: larger;
    font-weight: bolder;
}

.header{
    margin-top: 30px;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background-color: #1260869e;
    width: 500px;
    display: inline-block;
}

.controls{
    margin-top: 40px;
}

.check-box{
    margin-left: 40px;
}

.containerBoard {
    margin-top: 40px;
}


.row{
    font-size: 0px;
}

.row > div{
    color: lightblue;
    display : inline-block;
    font-size: 100px;
    border: solid 1px white;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    text-align:center;

}

.square {
    font-weight: 900;
    font-size: 100px;
    cursor: pointer;
    background-color: #1260869e;
    transition-duration: 0.4s;
}

.square:hover {
    opacity: 0.5;
}

.button{
    width: 150px;
    height: 32px;
    background-color: #1260869e;
    color: white;
    border: white;
    padding: 12px 26px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.b1{
    width: 20px;
    height: 15px;
}