
body{
    background-color: #15b956;
    font-family: Verdana, Arial, sans-serif;
    color: black;
}

.container{
    margin: 0 auto;
    text-align: center;
}

.header{
    margin-top: 50px;
}

.controls{
    margin-top: 40px;
}

.check-box{
    margin-left: 40px;
}

.containerBoard in line{
    margin-top: 40px;
}


.row{
    font-size: 0px;
}

.row > div{
    display : inline-block;
    font-size: 100px;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    text-align:center;
}


